.Navbar{
    background-color: crimson;
    font-family: Calibri;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline-block;
    list-style: none;
}

li a{
    color: white;
    padding: 10px;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.chart{
    display: flex;
    justify-content: center;
    gap: 200px;
}

.pred_text{
    margin-top: 25px;
    margin-left: 10px;
}